.user-table{
    padding: 20px 20px 20px 20px;
    margin-top: 40px;
    text-align: center;
}
.paggin{
    display: flex;
   
    justify-content: center;
    gap: 30px;
}
.count-span{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    color: #000;  
    font-family: 'Poppins'; 
    text-decoration: none;
}
.length{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    color: #000;  
    font-family: 'Poppins'; 
    text-decoration: none;

}
.table-head{
    font-family: 'inter'; 
        font-size: 27px;
        font-style: normal;
        font-weight: 900;
        line-height: 24px; 
        letter-spacing: 0.72px;
        color: #000;

}
.user-tablev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border: 1px solid black;
     padding-left: 30px;
     margin-left: 20px;
     margin-right: 30px;
     border-radius: 5px;
     margin-left: 300px;
     background: white;
    
    
}
.select-search{
  display: flex;
  justify-content: space-between;

}
.ttble{
    width: 90%;
    display: flex;
    background: rgb(220, 220, 211);
    padding-bottom: 20px;
}
.post-table{
    font-family: 'Poppins'; 
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px; 
    letter-spacing: 0.72px;
    color: #000;

}
